/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.object-center {
  margin: 0 auto;
}

.link {
  text-decoration: none;
  color: #212121;
}